

h3{

    animation: reveal linear;
    transition: all 1s;
    animation-timeline:view();
    animation-range-start:cover 0 ;
    animation-range-end:cover 50%;

}

p{
    animation: reveal linear;
    transition: all 1s;
    animation-timeline:view();
    animation-range-start:cover 0 ;
    animation-range-end:cover 50%;

}
@keyframes reveal {

    /* 0%{
        transform: scale(0);
        opacity: 0;
    
    }
    50%{
        transform: scale(0.5);
        opacity: 0.5;
    }
    0%{
        transform: scale(1);
        opacity: 1;
        color:brown;
    } */
    from{
        transform: scale(0);
        opacity: 0;
      
    }
    to{
       
        transform: scale(1);
        opacity: 1;
    }
    
}